<h3>2. Informations sur le vol</h3>
<%= f.input :dep_city, label: "Ville de départ'" %>
<%= f.input :departure, label: "Date et heure de départ" %>
<%= f.input :arr_city, label: "Ville d'arrivée'" %>
<%= f.input :arrival, label: "Date et heure d'arrivée" %>
