<h3>3. Précisions</h3>
<%= f.input :delay, as: :radio_buttons, collection: Deposition::DELAY, wrapper: :vertical_collection_inline, label: "S'il s'agit d'un retard, quel était le retard à l'arrivée ?" %>
<%= f.input :alert_date, as: :radio_buttons, collection: Deposition::ALERT, wrapper: :vertical_collection_inline, label: "Combien de temps à l'avance avez-vous été prévenu ?" %>
