<h3>3. Précisions</h3>
<% if @deposition.reason == "Retard" %>
  <%= f.input :delay, as: :radio_buttons, collection: Deposition::DELAY, wrapper: :vertical_collection_inline, label: "Quel était le retard à l'arrivée ?" %>
<% end %>
<%= f.input :alert_date, as: :radio_buttons, collection: Deposition::ALERT, wrapper: :vertical_collection_inline, label: "Quand as-tu été prévenu ?" %>
