<h3>1. Problème</h3>
<%= f.input :reason, as: :radio_buttons, collection: Deposition::REASON, wrapper: :vertical_collection_inline, label: "Quelle est la raison de ta déposition ?" %>
<%= f.input :excuse, as: :radio_buttons, collection: Deposition::EXCUSE, wrapper: :vertical_collection_inline, label: "Quelle explication a été donnée par la compagnie ?" %>
