<h3>4. Réacheminement</h3>
<%= f.input :forward, as: :radio_buttons, label: "Un réacheminement vous a-t-il été proposé ?" %>
<%= f.input :forward_dep, label: "Si oui, veuillez indiquer l'heure de départ :" %>
<%= f.input :forward_arr, label: "Et l'heure d'arrivée :" %>
