<h3>4. Réacheminement</h3>
<%= f.input :forward, as: :radio_buttons, label: "Un réacheminement vous a-t-il été proposé ?", include_blank: false, collection: [['Oui', true], ['Non', false]] %>
<i class="fas fa-plane-departure plane"></i>
<%= f.input :forward_dep, label: "Si oui, veuillez indiquer l'heure de départ :", start_year: Date.today.year - 1, order: [:day, :month, :year] %>
<i class="fas fa-plane-arrival plane"></i>
<%= f.input :forward_arr, label: "Et l'heure d'arrivée :", start_year: Date.today.year - 1, order: [:day, :month, :year] %>
